@media screen and (max-width: 768px) {
    .col-sm-4 {
                text-align: center;
                        margin: 25px 0;
                            
    }

}

.jumbotron {
    background-image: url("images/sec_bg.jpeg");
    /*background-color: #000000; /*black*/
    color : #ffffff;
    padding : 100px 25px;
}

.bg-grey {
    background-color : #f6f6f6;
}

.container-fluid {
    padding : 20px 50px; 
}

.logo {
        font-size: 150px;

}

p {
    font-size: 16px;
    padding : 25px 25px;
}
.navbar {
    margin-bottom: 0;
    background-color: #000000;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000000 !important;
    background-color: #cccccc !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.prof {
    font-size: 26px;
}